# Node modules
/node_modules/

# Logs
*.log
logs/

# Environment files
.env

# Build output
/dist
/build

# Dependency directories (for server-side tools)
jspm_packages/


# npm-debug logs
npm-debug.log*

